include ./_components

doctype html
html(lang="en")
	+head (meta.title)

	body
		style.
			.loader {
				position: fixed;
				top: 0; right: 0; bottom: 0; left: 0;
				z-index: 5000;
				background: #111214;
			}

			.loader--spinner {
				width: 50px; height: 50px;
				background: #242629;
				position: absolute;
				top: 50%; left: 50%;
				margin: -25px 0 0 -25px;
				border-radius: 25px;

				-webkit-animation: spinner 1s infinite ease-in-out;
				animation: spinner 1s infinite ease-in-out;
			}

			@-webkit-keyframes spinner {
				0% { -webkit-transform: scale(0); }
				100% {
					-webkit-transform: scale(1.0);
					opacity: 0;
				}
			}

			@keyframes spinner {
				0% {
					-webkit-transform: scale(0);
					transform: scale(0);
				}
				100% {
					-webkit-transform: scale(1.0);
					transform: scale(1.0);
					opacity: 0;
				}
			}

		.loader: .loader--spinner
		.page
				.bio
					.bio--photo
					.bio--name= name
					.bio--position #{position} @ #[a(href=company.link target="_blank")= company.name]

				+btn-group ([
					{url: 'https://github.com/' + contacts.github, caption: 'github'},
					{url: 'https://t.me/' + contacts.telegram, caption: 'telegram'},
					{url: 'https://linkedin.com/in/' + contacts.linkedin, caption: 'linkedin'},
				])

				+btn-group ([
					{url: 'mailto:' + contacts.mail, caption: contacts.mail}
				])

		script.
			function fadeOut(el) {
				el.style.opacity = 1;

				(function fade() {
					if ((el.style.opacity -= .1) < 0) {
						el.style.display = "none";
					} else {
						requestAnimationFrame(fade);
					}
				})();
			}

			window.addEventListener('load', function() {
				var loader = document.querySelector('.loader');

				fadeOut(loader);
			});