include ./_components

doctype html
html(lang="en")
	+head (meta.title)

	body
		style.
			.loader {
				position: fixed;
				top: 0; right: 0; bottom: 0; left: 0;
				z-index: 5000;
				background: #000000;
			}

			.loader--spinner {
				width: 64px; height: 64px;
				background: rgba(158, 224, 9, 0.3);
				position: absolute;
				top: 50%; left: 50%;
				margin: -32px 0 0 -32px;
				border-radius: 32px;

				-webkit-animation: spinner 1s infinite ease-in-out;
				animation: spinner 1s infinite ease-in-out;
			}

			@-webkit-keyframes spinner {
				0% { -webkit-transform: scale(0); }
				100% {
					-webkit-transform: scale(1.0);
					opacity: 0;
				}
			}

			@keyframes spinner {
				0% {
					-webkit-transform: scale(0);
					transform: scale(0);
				}
				100% {
					-webkit-transform: scale(1.0);
					transform: scale(1.0);
					opacity: 0;
				}
			}

		.loader: .loader--spinner
		.page
				.intro
					.intro--photo
					.intro--bio
						.intro--name= name
						.intro--position= position
						//- .intro--position #{position} @ #[a(href=company.link target="_blank")= company.name]

				.content
					.content--sidebar
						.content--title Contacts

						+btn('Mail', 'mailto:' + contacts.mail, contacts.mail)
						+btn('Telegram', 'https://t.me/' + contacts.telegram, '@' + contacts.telegram)
						+btn('GitHub', 'https://github.com/' + contacts.github, '@' + contacts.github)
						+btn('LinkedIn', 'https://linkedin.com/in/' + contacts.linkedin, '@' + contacts.linkedin)
						+btn('Instagram', 'https://instagram.com/' + contacts.instagram, '@' + contacts.instagram)

					.content--body
						.content--title Experience
						
						+experience('Samokat · ecom.tech', 'Nov 2020 — Dec 2025', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.')
						+experience('Openland', 'Nov 2017 — Oct 2020', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.')
						+experience('Freelance', 'Apr 2013 — Nov 2017', 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.')

		script.
			function fadeOut(el) {
				el.style.opacity = 1;

				(function fade() {
					if ((el.style.opacity -= .1) < 0) {
						el.style.display = "none";
					} else {
						requestAnimationFrame(fade);
					}
				})();
			}

			window.addEventListener('load', function() {
				var loader = document.querySelector('.loader');

				fadeOut(loader);
			});
