include ./_components

doctype html
html(lang="en")
	+head (meta.title)

	body
		.page
				+btn-group ([
					{url: 'tel:+78005050588;31', caption: '+78005050588;31'},
					{url: 'tel:+78005050588,31', caption: '+78005050588,31'},
				])
