// - Includes
@import "_mixins.less";
@import "_reset.less";


// - Fonts
@import (css) url(https://fonts.googleapis.com/css?family=Cuprum:400,700);


// - Colors
@background-primary: #111214;
@background-secondary: #242629;
@background-secondary-hover: rgba(76, 80, 87, 0.24);

@foreground-primary: #FFFFFF;
@foreground-secondary: #898B8F;


// - Breakpoints
@screen-xs-max: 767px;

@screen-sm-min: 768px;

@xs-only: ~"(max-width: @{screen-xs-max})";
@sm-only: ~"(min-width: @{screen-sm-min})";


// - Global
html {
  min-width: auto;
  .size (auto, 100%);
}

body {
  font: normal normal 14px/20px 'Cuprum', arial, sans-serif;
  background: @background-primary;
  color: @foreground-primary;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  .min-size (320px);
  .position (relative);

  input,
  textarea,
  button,
  select,
  option {
    font-family: 'Cuprum', arial, sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

// - Components
.btn {
  padding: 13px 22px 11px;
  text-align: center;
  background: @background-secondary;
  border-radius: 42px;
  color: @foreground-primary;
  text-decoration: none;
  transition: 150ms all ease;
  margin: 10px;

  .position (relative);
  .font (18px, 20px, 400);

  &:hover {
    background: @background-secondary-hover;
  }
}

.btn-group {
  justify-content: center;
  flex-wrap: wrap;

  .display (flex);
}


// - Blocks
.page {
  flex-direction: column;
  justify-content: center;

  .display (flex);
  .position (fixed, 0, 0, 0, 0);
}

.bio {
  z-index: 1;
  text-align: center;
  padding: 0 0 25px;

  .font (36px, 44px);

  span {
    color: @foreground-secondary;
    margin: 5px 0 0;

    .display (block);
    .font (18px, 20px);
  }

  a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}