// - Includes
@import "_mixins.less";
@import "_reset.less";

// - Fonts
@import (css)
  url(https://fonts.googleapis.com/css2?family=Google+Sans:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&display=swap);

// - Colors
@background-primary: #000000;
@background-secondary: fade(#ffffff, 3);
@background-secondary-hover: fade(#ffffff, 7);

@foreground-primary: #ffffff;
@foreground-secondary: fade(@foreground-primary, 60);
@foreground-tertiary: fade(@foreground-primary, 40);

@brand: #9ee009;

// - Breakpoints
@screen-xs-max: 767px;

@screen-sm-min: 768px;

@xs-only: ~"(max-width: @{screen-xs-max})";
@sm-only: ~"(min-width: @{screen-sm-min})";

// - Global
html {
  min-width: auto;
  .size (auto, 100%);
}

body {
  font:
    normal normal 14px/20px "Google Sans",
    arial,
    sans-serif;
  background:
    radial-gradient(
        1024px 512px at 50% 0,
        fade(@brand, 20) 0%,
        @background-primary 100%
      )
      no-repeat,
    @background-primary;
  color: @foreground-primary;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  .min-size (320px);
  .position (relative);

  input,
  textarea,
  button,
  select,
  option {
    font-family: "Google Sans", arial, sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

// - Components
.btn {
  padding: 0 20px;
  background: @background-secondary;
  border-radius: 8px;
  color: @foreground-primary;
  text-decoration: none;
  transition: 150ms all ease;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;

  .position (relative);
  .font (16px, 20px, 600);
  .display (flex);
  .size (auto, 48px);

  &:hover {
    background: @background-secondary-hover;
    color: @foreground-primary;
    padding-right: 32px;

    .icon {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &--preview {
    color: @foreground-tertiary;

    .font (14px, 20px, 600);
  }

  .icon {
    opacity: 0;
    transition: 150ms all ease;
    color: @foreground-secondary;
    transform: translate(50%, 0);

    .position (absolute, 14px, 8px);
    .size (20px, 20px);
  }
}

.experience {
  background: @background-secondary;
  border-radius: 8px;
  padding: 20px;

  &--company {
    .font (16px, 28px, 600);
  }

  &--date {
    color: @foreground-secondary;

    .font (14px, 22px, 500);
  }

  &--additional {
    align-items: flex-end;
    flex-direction: column;

    .display (flex);
  }

  &--role {
    .font (14px, 24px, 500);
  }

  &--location {
    color: @foreground-secondary;

    .font (14px, 22px, 500);
  }

  &--summary {
    color: @foreground-tertiary;
    padding: 4px 0;

    .font (14px, 22px, 500);
  }

  &--tags {
    color: @foreground-secondary;
    gap: 0 8px;
    flex-wrap: wrap;

    .font (14px, 22px, 500);
    .display (flex);
  }
}

// - Blocks
.page {
  flex-direction: column;
  align-items: center;
  padding: 128px 0 32px;
  gap: 112px;

  .display (flex);

  @media @xs-only {
    padding: 64px 0 32px;
    gap: 64px;
  }
}

.intro {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;

  .display (flex);

  @media @xs-only {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }

  &--photo {
    background: url(../assets/photo.png);
    background-size: 100% 100%;
    background-position: center center;
    background-image: image-set(
      url(../assets/photo.png) 1x,
      url(../assets/photo@2x.png) 2x
    );

    .size (128px, 128px);
    .position (relative);
  }

  &--name {
    .font (32px, 48px, 500, Oswald);
  }

  &--position {
    color: @foreground-secondary;

    .display (block);
    .font (18px, 28px, 400, Oswald);

    a {
      color: inherit;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.content {
  flex-direction: row;
  max-width: 1024px;
  padding: 0 16px;
  gap: 16px;

  .display(flex);
  .size(100%);

  @media @xs-only {
    flex-direction: column;
    max-width: 500px;
  }

  &--sidebar {
    gap: 16px;
    flex-direction: column;

    .display(flex);
    .size(25%);

    @media @xs-only {
      .size (auto);
    }
  }

  &--body {
    flex: 1;
    gap: 16px;
    flex-direction: column;

    .display(flex);
  }

  &--title {
    padding: 16px 20px 0;
    color: @foreground-secondary;

    .font (16px, 20px, 600);
  }
}
